@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --cor1: rgb(78, 0, 181);
    ;
    --cor2: rgb(200, 13, 13);
}

.nome_site {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 44px;
    color: white;
    background-color: var(--cor1);
    padding: 20px 0px 10px 40px;
}

nav {
    background-color: rgb(78, 0, 181);
}

nav p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 30px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    transition-duration: 0.3s;
}

nav a:hover {
    transition-duration: 0.3s;
    background-color: #ffffff;
    color: black;
    border-radius: 4px;
}

main {
    background-color: rgb(78, 0, 181);
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 40px;
    color: white;
    text-align: center;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    padding: 40px;
    color: white;
    text-align: center;
}

.btn a {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 213, 255);
    transition-duration: 0.3s;
    padding: 10px;
    border-radius: 4px;
}

.btn a:hover {
    transition-duration: 0.3s;
    background-color: rgb(32, 139, 160);
    padding: 10px;
    border-radius: 4px;
}

.container {
    width: 100%;
    height: 370px;
    background-color: black;
    color: white;
}

.container h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 45px;
    line-height: 48px;
}

.container1 {
    background-image: url('../imagens/pexels-lumn-604969.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container1 h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 180px 0px 180px 60px;
    font-size: 56px;
}

/* Barra de Pesquisa */

.barra_de_pesquisa {
    display: flex;
    margin-bottom: 20px;
}

.barra_de_pesquisa:hover> ::-webkit-input-placeholder {
    color: rgb(126, 126, 126);
}

::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}

.pesquisar {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background-color: white;
    padding: 8px;
    padding-left: 15px;
    margin-left: 10px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    transition: .6s;
}

.barra_de_pesquisa:hover .pesquisar {
    background-color: #ffffff;
    width: 210px;
    height: 40px;
}

.lupa_img {
    width: 25px;
    height: 25px;
    opacity: 0;
    border: none;
    transition: .4s;
}


.barra_de_pesquisa:hover>.lupa>.lupa_img {
    font-family: 'Montserrat', sans-serif;
    margin-left: 4px;
    width: 25px;
    height: 25px;
    opacity: 100%;
    border: none;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
}

.container_pesquisa {
    background-color: rgb(78, 0, 181);
    ;
}

/* Footer do Site */

.rodape {
    background-color: var(--cor1);
}

.contato_rodape {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 30px 0px 20px 30px;
}

.numero_contato {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 12px 0px 40px 30px;
}

.direitos_autorais {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 30px;
}

.direitos_autorais a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.direitos_autorais a:hover {
    text-decoration: underline;
}

.container2 {
    height: 400px;
    width: 100%;
    background-color: white;
}

.texto_coluna1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 35px;
    color: black;
    text-align: center;
    line-height: 40px;
}

.container2 .coluna1 {
    padding-top: 100px;
}